.main-hakkimizda {
    height: 60vh;
}

.container ul li {
    list-style: none;
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    margin-left: 15px;
}

.container p {
    font-family: "Montserrat", sans-serif;
    padding: 4px;
}

.icon-list {
    margin-right: 5px;
}