* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ciz {
  border: solid 1px black;
}

.ciz-2 {
  border: solid 1px rgb(232, 0, 0);
}

blockquote {
  margin: 1em 40px;
  padding: 0.5em 10px;
  border-left: 4px solid #ee0000;
  font-style: italic;
}

body {
  background-color: white;
  overflow-x: hidden;
  position: relative;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.548);
}

a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  transition: all;
  transition-duration: 0.3s;
  padding: 3px 1px;
}

a:hover {
  color: #e91e27;

}

/* ? Sitedeki TÜM linklerin defult modeli burda yer almaktadır */

h1,
h2,
h3,
h5,
h6 {

  font-weight: 300;

}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

.vurgu {
  font-weight: 600;
  color: #e91e27;

}



.page-title {
  font-size: 48px;
  color: #243265;
  font-weight: medium;
  text-align: center;
  margin-top: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;


}

.flex-column {
  display: flex;
  flex-direction: column;


}

.page-big-title {
  width: 100%;
  height: 350px;

  overflow: hidden;
}

.page-big-title img {
  transition: all 2s;
  width: 100%;
  height: 100%;
  transform: scale(1.1);

}

.page-big-title:hover img {
  transform: scale(1);

}

.pages-links {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

.pages-links a {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

.upbutton {
  width: 50px;
  height: 50px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(244, 4, 4);
  box-shadow: 0px 0px 20px 0px white;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;

  font-size: 28px;


}



.title-line {
  display: flex;
  margin: 40px auto;
  width: 300px;
  color: #DF4040;
}

.title-blog {
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;

}

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 24px;
    color: #243265;
    font-weight: medium;
    text-align: center;
    margin-top: 50px;
  }

  .title-line {
    display: flex;
    margin: 20px auto;
    width: 150px;
    color: #DF4040;
  }

}